<!-- Footer
        ============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyright &copy; {{ "now"|date("Y") }} All Rights Reserved<br/>
                By Wandering Loyalty and Moon Whale Media Recordings<br/>
                <a href="http://moonwhale.media" target="_blank">a moonwhale.media production</a>
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                       target="_blank" class="social-icon si-small si-borderless si-youtube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>

                    <a href="https://www.facebook.com/WanderingLoyalty/"
                       target="_blank" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

{#                    <a href="#" class="social-icon si-small si-borderless si-gplus">#}
{#                        <i class="icon-gplus"></i>#}
{#                        <i class="icon-gplus"></i>#}
{#                    </a>#}
                </div>

                <div class="clear"></div>

                <a href="#" data-open-contact-drawer>Contact Us</a>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>